body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

h1 {
    background-color: #6200ea;
    color: #FFF;
    margin: 0;
    padding: 15px;
}

select {
    margin: 15px;
    padding: 8px;
}

.timezone {
    margin: 12px;
    padding: 12px;
    border-bottom: 1px solid #ccc;
}